* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: grey;
  font-size: 1.1rem;
  width: 100%;
}

.card-grid {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.card {
  align-content: center;
  border: 1px solid grey;
  margin-bottom: auto;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  overflow:hidden;
  height: 252;
  width: 446;
}
.card p {
  padding: 1px;
  text-align: center;
}

.card img {
  max-height: 250px;
}